@media (max-width: 1150px) {
  .container {
    width: 950px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 850px;
  }

  //Sobre início
  .sobre-web-design {

    //Figcaption Início
    figcaption {

      //Img Início
      img {
        width: 600px;
      }

      //Img fim 
    }

    //Figcaption fim
  }

  //Sobre fim
}

@media (max-width: 915px) {
  body {
    background-position: left -250px;
    /* Colocamos o valor negativo -250px para ajustar a imagem no site. */
    background-color: $color-quartenaria;
  }

  .container {
    width: 600px;
  }

  .row {
    flex-direction: column;
  }

  //Header início
  header {

    //Nav início
    nav {
      margin: 30px 0;
    }

    //Nav fim
  }

  //Header fim

  //Sobre início
  .sobre-web-design {

    //Article iníco
    article {
      width: 100%;
      /* Nesse tamanho o article teve que receber o valor de 100%, para melhor se
      ajustar ao tamanho desse break point. No original em main é 250px e 
      aqui é 100%. */
    }

    //Article fim

    //Figcaption início
    figcaption {

      //Img início
      img {
        width: 100%;
        margin: 30px 0 0 0;
      }

      //Img fim
    }

    //Footer início
    footer {

      //Row início
      .row {
        flex-direction: row;
        justify-content: center;
      }

      //Row fim
    }

    //Footer fim

    //Figcaption fim
  }

  //Sobre fim

}

@media (max-width: 665px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .container {
    width: 290px;
  }

  //Header início
  header {

    //Nav início
    nav {
      background: $color-branco;
      width: 100%;
      padding: 10px 0 20px;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);

      //Ul início
      ul {
        flex-direction: column;

        //Li início
        li {
          margin: 10px 0;
        }

        //Li fim
      }

      //Ul fim
    }

    //Nav fim
  }

  //Header fim

}

/* A gente faz a responsividade até 320px, que é o tamanho dos menores celulares */

/* No tamanho de 450px, nós criamos um menu menor, com a nav com um background 
branco com tamanho 100%. Acresentamos bordas com o padding e fizemos uma 
sombreado atrás do background branco usando o box-shadow para realçar. */

/* O header nav ul nesse tamanho mudou a direção do flex-direction: row para o 
flex-direction: column. Já que o tamanho pequeno da tela não deixa harmonioso
o menu, então para se ajustar ao tamanho a posição coluna fica melhor.*/

/* E no header nav ul li acrescentamos uma margem para a aparência do menu
ficar mais agradavél aos olhos. */